{% extends 'base.html' %}

{% block title %}
<h2> change password </h2>
{% endblock title %}

{% block content %}

<section class="container">
    <div class="row justify-content-around mt-5">
        <div class="col-sm-5 ">
            <h3> change password </h3>
        </div>
    </div>
    <div class="row mt-2 justify-content-around">
        <div class="col-sm-5">
            <form method="POST" action="#" class='bg-black p-3'>
                {% csrf_token %}
                {{form}}
                <button type="submit" class="btn btn-primary mt-2"> change password   </button>

            </form>
           
        </div>
    </div>
</section>



{% endblock content %}