{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- inner page banner -->
<div class="section inner_banner">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="full">
                <h3>Blog Detail</h3>
                <ul class="breadcrum">
                   <li><a href="{% url 'home_page' %}">Home</a></li>
                   <li>&gt;</li>
                   <li>Blog Detail</li>
                </ul>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end inner page banner -->
 <!-- process section --> 
 <!-- <div class="section layout_padding_2 light_silver border_bottom_light">
    <div class="container">
       <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
             <div class="full">
                <div class="process_blog">
                   <div class="step_no">
                      <p>1</p>
                   </div>
                   <div class="step_infor">
                      <p class="step_head">Select Any Item</p>
                      <p class="step_cont">Browse &amp; Select</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
             <div class="full">
                <div class="process_blog">
                   <div class="step_no">
                      <p>2</p>
                   </div>
                   <div class="step_infor">
                      <p class="step_head">Fast Payment</p>
                      <p class="step_cont">Easy Payment Options</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
             <div class="full">
                <div class="process_blog">
                   <div class="step_no">
                      <p>3</p>
                   </div>
                   <div class="step_infor">
                      <p class="step_head">Delivery</p>
                      <p class="step_cont">24 Hours Delivery</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
             <div class="full">
                <div class="process_blog">
                   <div class="step_no">
                      <p>4</p>
                   </div>
                   <div class="step_infor">
                      <p class="step_head">Got Your Item</p>
                      <p class="step_cont">Thank you..!</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div> -->
 <!-- end process section -->
 <!-- section -->
 <div class="section layout_padding border_bottom_light blog_section">
    <div class="container">
       <div class="row">
          <!-- blog section -->
          <div class="col-md-8 col-lg-8">
             <div class="row">
                <!-- blog section -->
                {% for abc in blog %}
                <div class="col-md-12 blog_layout margin_bottom_30_all">
                   <div class="blog_inner blog_list">
                      <div class="blog_featured_img">
                         <img class="img-responsive" src="{{abc.image.url}}" alt="#"/>
                         <div class="post_information">
                            <div class="post_info_inner">
                               <ul>
                                  <li><i class="fa fa-clock-o"></i><a href="#"> {{ abc.date_time}}</a></li>
                                  <li><i class="fa fa-user"></i><a href="#"> Admin</a></li>
                                  <li><i class="fa fa-comment"></i><a href="#"> 26 Comments</a></li>
                               </ul>
                            </div>
                            <div class="post_shr">
                               <div class="item-actions">
                                  <div class="share-button-list">
                                     <span class="icon icon-share2"></span>
                                     <ul>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                     </ul>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="blog_featured_cont">
                         <h3>{{ abc.title|title}}</h3>
                         <h6 class="post_author_name">Posted by {{ abc.author| title}}</h6>
                         <p>Consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae laboriosam sunt hic perspiciatis, asperiores mollitia excepturi voluptatibus sequi nostrum ipsam veniam omnis nihil! A ea maiores corporis. Lorem ipsum dolor sit amet..</p>
                         <div class="bottom_section">
                            <a class="main_bt" href="blog_detail.html">Read More &gt;</a>
                         </div>
                      </div>
                   </div>
                </div>
                {% endfor %}
                <!-- end blog section -->
                <!-- blog section -->
                <!-- <div class="col-md-12 blog_layout margin_bottom_30_all">
                   <div class="blog_inner blog_list">
                      <div class="blog_featured_img">
                         <img class="img-responsive" src="{% static 'images/blog4.png' %}" alt="#"/>
                         <div class="post_information">
                            <div class="post_info_inner">
                               <ul>
                                  <li><i class="fa fa-clock-o"></i><a href="#"> June 29, 2017</a></li>
                                  <li><i class="fa fa-user"></i><a href="#"> Admin</a></li>
                                  <li><i class="fa fa-comment"></i><a href="#"> 26 Comments</a></li>
                               </ul>
                            </div>
                            <div class="post_shr">
                               <div class="item-actions">
                                  <div class="share-button-list">
                                     <span class="icon icon-share2"></span>
                                     <ul>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                     </ul>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="blog_featured_cont">
                         <h3>Blog Carousel Post</h3>
                         <h6 class="post_author_name">Posted by John Mike</h6>
                         <p>Consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae laboriosam sunt hic perspiciatis, asperiores mollitia excepturi voluptatibus sequi nostrum ipsam veniam omnis nihil! A ea maiores corporis. Lorem ipsum dolor sit amet..</p>
                         <div class="bottom_section">
                            <a class="main_bt" href="blog_detail.html">Read More &gt;</a>
                         </div>
                      </div>
                   </div>
                </div> -->
                <!-- end blog section -->
                <!-- blog section -->
                <!-- <div class="col-md-12 blog_layout margin_bottom_30_all">
                   <div class="blog_inner blog_list">
                      <div class="blog_featured_img">
                         <img class="img-responsive" src="{% static 'images/blog1.png' %}" alt="#"/>
                         <div class="post_information">
                            <div class="post_info_inner">
                               <ul>
                                  <li><i class="fa fa-clock-o"></i><a href="#"> June 29, 2017</a></li>
                                  <li><i class="fa fa-user"></i><a href="#"> Admin</a></li>
                                  <li><i class="fa fa-comment"></i><a href="#"> 26 Comments</a></li>
                               </ul>
                            </div>
                            <div class="post_shr">
                               <div class="item-actions">
                                  <div class="share-button-list">
                                     <span class="icon icon-share2"></span>
                                     <ul>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                     </ul>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="blog_featured_cont">
                         <h3>Blog Carousel Post</h3>
                         <h6 class="post_author_name">Posted by John Mike</h6>
                         <p>Consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae laboriosam sunt hic perspiciatis, asperiores mollitia excepturi voluptatibus sequi nostrum ipsam veniam omnis nihil! A ea maiores corporis. Lorem ipsum dolor sit amet..</p>
                         <div class="bottom_section">
                            <a class="main_bt" href="blog_detail.html">Read More &gt;</a>
                         </div>
                      </div>
                   </div>
                </div> -->
                <!-- end blog section -->
                <!-- blog section -->
                <!-- <div class="col-md-12 blog_layout">
                   <div class="blog_inner blog_list">
                      <div class="blog_featured_img">
                         <img class="img-responsive" src="{% static 'images/blog6.png' %}" alt="#"/>
                         <div class="post_information">
                            <div class="post_info_inner">
                               <ul>
                                  <li><i class="fa fa-clock-o"></i><a href="#"> June 29, 2017</a></li>
                                  <li><i class="fa fa-user"></i><a href="#"> Admin</a></li>
                                  <li><i class="fa fa-comment"></i><a href="#"> 26 Comments</a></li>
                               </ul>
                            </div>
                            <div class="post_shr">
                               <div class="item-actions">
                                  <div class="share-button-list">
                                     <span class="icon icon-share2"></span>
                                     <ul>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                     </ul>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="blog_featured_cont">
                         <h3>Blog Carousel Post</h3>
                         <h6 class="post_author_name">Posted by John Mike</h6>
                         <p>Consectetur, assumenda provident lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae laboriosam sunt hic perspiciatis, asperiores mollitia excepturi voluptatibus sequi nostrum ipsam veniam omnis nihil! A ea maiores corporis. Lorem ipsum dolor sit amet..</p>
                         <div class="bottom_section">
                            <a class="main_bt" href="blog_detail.html">Read More &gt;</a>
                         </div>
                      </div>
                   </div>
                </div> -->
                <!-- end blog section -->
             </div>
          </div>
          <!-- blog section -->
          <!-- sidebar -->
          <div class="col-md-4 col-lg-4">
             <div class="full sidebar_blog_main">
                <div class="inline-search clearfix">
                   <!-- <form action="#" method="get" class="widget_search">
                      <input placeholder="Start Searching..." id="s" name="s" class="serch-input" type="search"/>
                      <button type="submit"> <i class="fa fa-search"></i> </button>
                   </form> -->
                </div>
                <div class="fied-tab-box">
                   <ul class="nav nav-tabs nav-bottom-border nav-justified">
                      <li class="nav-item"> <a class="nav-item active" href="#tab_1" data-toggle="tab">Recent</a></li>
                      <li class="nav-item"> <a class="nav-item" href="#tab_2" data-toggle="tab">opular
                         </a> 
                      </li>
                   </ul>
                   <div class="tab-content">
                      <div id="tab_1" class="tab-pane active fade show">
                         <div class="row tab-post">
                            <div class="col-md-3 col-3">
                               <div class="post-ibox">
                                  <a href="#"> <img src="{% static 'images/ep2.png' %}" alt="#"/> </a>
                               </div>
                            </div>
                            <div class="col-md-9 col-9">
                               <a href="#" class="tab-post-link">Maecenas</a> <small>10 September 2018</small>
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                            </div>
                         </div>
                         <div class="row tab-post">
                            <div class="col-md-3 col-3">
                               <div class="post-ibox">
                                  <a href="#"> <img src="{% static 'images/ep3.png' %}" alt="#"/> </a>
                               </div>
                            </div>
                            <div class="col-md-9 col-9">
                               <a href="#" class="tab-post-link">Curabitur</a> <small>10 September 2018</small>
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                            </div>
                         </div>
                         <div class="row tab-post">
                            <div class="col-md-3 col-3">
                               <div class="post-ibox">
                                  <a href="#"> <img src="{% static 'images/ep4.png' %}" alt="#"/> </a>
                               </div>
                            </div>
                            <div class="col-md-9 col-9">
                               <a href="#" class="tab-post-link">Nam et lacus neque. Ut enim massa</a> <small>10 September 2018</small>
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                            </div>
                         </div>
                      </div>
                      <div id="tab_2" class="tab-pane fade">
                         <div class="row tab-post">
                            <div class="col-md-3 col-3">
                               <div class="post-ibox">
                                  <a href="#"> <img src="{% static 'images/ep5.png' %}" alt="#"/> </a>
                               </div>
                            </div>
                            <div class="col-md-9 col-9">
                               <a href="#" class="tab-post-link">Curabitur</a> <small>10 September 2018</small>
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                            </div>
                         </div>
                         <div class="row tab-post">
                            <div class="col-md-3 col-3">
                               <div class="post-ibox">
                                  <a href="#"> <img src="{% static 'images/ep6.png' %}" alt="#"/> </a>
                               </div>
                            </div>
                            <div class="col-md-9 col-9">
                               <a href="#" class="tab-post-link">Nam et lacus neque.Ut enim massa</a> <small>10 September 2018</small>
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                            </div>
                         </div>
                         <div class="row tab-post">
                            <div class="col-md-3 col-3">
                               <div class="post-ibox">
                                  <a href="#"> <img src="{% static 'images/ep1.png' %}" alt="#"/> </a>
                               </div>
                            </div>
                            <div class="col-md-9 col-9">
                               <a href="#" class="tab-post-link">Maecenas</a> <small>10 September 2018</small>
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                            </div>
                         </div>
                         <div class="row tab-post">
                            <div class="col-md-3 col-3">
                               <div class="post-ibox">
                                  <a href="#"> <img src="{% static 'images/ep2.png' %}" alt="#"/> </a>
                               </div>
                            </div>
                            <div class="col-md-9 col-9">
                               <a href="#" class="tab-post-link">Metusnulla</a> <small>10 September 2018</small>
                               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit..</p>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="row">
                   <div class="col-md-12">
                      <div class="side-nav-category">
                         <div class="title"> <span>Categories</span> </div>
                         <ul class="list-group list-group-bordered">
                            <li class="list-group-item"><a href="#"><span class="fs-11 float-right">(16)</span> Best Reviews</a></li>
                            <li class="list-group-item"><a href="#"><span class="fs-11 float-right">(2)</span> Fashion on this week</a></li>
                            <li class="list-group-item"><a href="#"><span class="fs-11 float-right">(1)</span>  Stylis Looks</a></li>
                            <li class="list-group-item"><a href="#"><span class="fs-11 float-right">(12)</span> Branding</a></li>
                            <li class="list-group-item"><a href="#"><span class="fs-11 float-right">(8)</span> Movies</a></li>
                            <li class="list-group-item"><a href="#"><span class="fs-11 float-right">(32)</span> New</a></li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-md-12">
                      <div class="category-tag">
                         <div class="title"> <span>Tags</span> </div>
                         <div class="tag-blog">
                            <a class="tag" href="#"> <span class="txt">RESPONSIVE</span> <span class="num">12</span> </a>
                            <a class="tag" href="#"> <span class="txt">CSS</span> <span class="num">3</span> </a>
                            <a class="tag" href="#"> <span class="txt">HTML</span> <span class="num">1</span> </a>
                            <a class="tag" href="#"> <span class="txt">JAVASCRIPT</span> <span class="num">28</span> </a>
                            <a class="tag" href="#"> <span class="txt">DESIGN</span> <span class="num">6</span> </a>
                            <a class="tag" href="#"> <span class="txt">DEVELOPMENT</span> <span class="num">3</span> </a>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="offer-slider margin_top_50">
                   <div class="sidebar-banner">
                      <img src="{% static 'images/offer-img.jpg' %}" alt=""/>
                      <div class="effect-ab">
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <!-- end sidebar -->
       </div>
    </div>
 </div>
 <!-- end section -->
 <!-- section -->
 
 <!-- end section -->

{% endblock content %}